<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nordmine.crystalmoney"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk></uses-sdk>

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.nordmine.crystalmoney.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.account.AccountActivity"
            android:label="@string/title_activity_account"
            android:uiOptions="" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.account.AccountListActivity"
            android:label="@string/title_activity_account_list" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.trx.TransactionActivity"
            android:label="@string/title_activity_income" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.trx.IncomeListActivity"
            android:label="@string/title_activity_income_list" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.category.CategoryListActivity"
            android:label="@string/title_activity_category_list" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.trx.OutcomeListActivity"
            android:label="@string/title_activity_outcome_list" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.stat.StatActivity"
            android:label="@string/title_activity_stat" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.exchange.ExchangeActivity"
            android:label="@string/title_activity_exchange" >
        </activity>
        <activity
            android:name="ru.nordmine.crystalmoney.exchange.ExchangeListActivity"
            android:label="@string/title_activity_exchange_list" >
        </activity>
        <receiver android:name=".sms.TransactionSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
